body{

background-image: linear-gradient(90deg, #f0d817, #3eb308, #e20d0d);

 }
  #left{
                   
                   
                   border-radius: 40px;
                    background: linear-gradient(90deg, #f0d817, #3eb308, #e20d0d);
                    width:220px;
                    height:100%;
                    position:absolute;
                    left:10%;
                    
 
 
  }
  #right{
                   
                   
                   border-radius: 40px;
                    background: linear-gradient(90deg, #f0d817, #3eb308, #e20d0d);
                    width:220px;
                    height:100%;
                    position:absolute;
                    right:10%;
                    
 
 
  }
  h1{

font-size:60px;
text-align:center;
font-style:italic;
text-decoration:underline;



 }
   ol{
     
     margin-left:30%;
     
      }
     
     
      li {
                    list-style-type: none;
                    background:linear-gradient(90deg, #f0d817, #3eb308, #e20d0d);;
                    width: 100px;
                    padding: 5px 0 5px 0;
                    margin: 5px 10px 5px 10px;
                    border: solid 2px purple;
                    border-radius: 40px;
                    float: left;
                    text-align: center;
                    left:29%;
                }

                li:hover {
                    background: Transparent;
                }

                a {
                    display: block;
                }
                
              